@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500рx;
    background: transparent;
    border: 5px solid #333;
    border-radius: 10px;
    transition: .5s;
}
.wrapper:hover{
    border: 5px solid #09f7ff;
    box-shadow:0 0 20px #09f7ff ,inset 0 0 20px #09f7ff ;
}
.wrapper:hover h2{
    color: #09f7ff;
}
.wrapper:hover .input-box input{
     border: 2px solid #09f7ff;
    box-shadow:0 0 20px #09f7ff  ;
}
.wrapper:hover .register-link p a{
    color: #09f7ff;

}
.wrapper:hover .button{
    background-color: #09f7ff;
}
.wrapper:hover .input-box .icon{
       color: #09f7ff;
}
h2{
    font-size: 2em;
    text-align: center;
    color: aliceblue;
}
.input-box{
    position: relative;
    width: 320px;
    margin: 30px 0px;
}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #333;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    color: aliceblue;
    padding: 0 10px 0 35px;
}
.input-box1{
    position: relative;
    width: 100%;
    margin: 30px 0px;
}
.input-box1 input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #333;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    color: aliceblue;
    padding: 0 10px 0 35px;
}
.input-box2 input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(14 165 233);
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    color: aliceblue;
    padding: 0 10px 0 35px;
}
.for{
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    backdrop-filter: saturate(2);
    
}
.input-box2 select{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #333;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    color: aliceblue;
    background: rgb(14 165 233);
    padding: 0 10px 0 35px;
}
.input-box2 .input{
    width: 300px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(14 165 233);
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    color: aliceblue;
    padding: 0 10px 0 35px;
}
.input-box2 .input .radio{
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #333;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    color: aliceblue;
    margin-left: 50px;
}
.input-box input::placeholder{
    color: rgba(255,255,255,.3);
}
.ic .icon{
    position: absolute;
    top: 13px;
    right: 10px;
    color: aliceblue;
    font-size: 1.2em;
    line-height: 55px;
}
.ic .icon:hover{
       font-size: 1.7em;
       color: #09f7ff;
       cursor: pointer;


}
.input-box .icon{
    position: absolute;
    top: 13px;
    left: 10px;
    color: aliceblue;
    font-size: 1.2em;
    line-height: 55px;
}
.forgot-pass{
    margin: 15px 0;
}
.forgot-pass a{
    color: aliceblue;
    font-size: .9em;
    text-decoration: none;
}
.forgot-pass a:hover{
    text-decoration: underline;
}
.button{
    position: relative;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: aliceblue;
    font-weight: 500;
}
.register-link{
    font-size: .9em;
    text-align: center;
    margin: 25px 0;
}
.register-linlk p {
    color: aliceblue;
}
.register-link p a{
    color: #333;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box{
    position: relative;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    background: #060c21;
}
.box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box:before,
.box:after{
    background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}
.content{
    box-sizing: border-box;
    color: #fff;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position:absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}